body {
    background-image: url(/www/images/court.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    height: 65px;
    line-height: 65px;
    text-align: center;
    width: 25%;
    margin: 2.6%;
    background-color: #ff5500;
    border-style: ridge;
    border-radius: 16px;
    margin-top: 65px;
}

    li a {
        display: inline-block;
        color: white;
        text-decoration: none;
    }

#newGame {
    background-color: #e64d00;
}

#stats {
    background-color: #cc4400;
}

#logout {
    background-color: #521414;
    color: white;
    border-style: solid;
    border-radius: 8px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 70px;
    height: 45px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}