ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 35%;
    margin: 5%;
    background-color: #ff5500;
    border-style: ridge;
    border-radius: 16px;
}

    li a {
        display: inline-block;
        color: white;
        text-decoration: none;
    }

li a:visited {
    color: white;
}

h1 {
    font-size: 350%;
    font-family: serif;
    position: absolute;
    top: 75px;
    left: 90px;
}

img {
    height: 220px;
    width: 220px;
    position: absolute;
    top: 200px;
    right: 50px;
}

#signup {
    background-color: #cc4400;
}