ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 12px 60px 12px 60px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #111111;
}

li a:visited {
    color: white;
}

#signin {
    background-color: #666666;
}

#signup {
    background-color: #333333;
}

h1 {
    font-size: 400%;
    font-family: serif;
}

img {
    height: 220px;
    width: 220px;
    position: absolute;
    top: 200px;
    right: 50px;
}