body {
    background-image: url(/www/images/ball_floor.png);
}

button {
    margin: 30px;
    float: right;
    background-color: #ff5500;
    border-style: ridge;
    border-radius: 16px;
    width: 30%;
    cursor: pointer;
}

#signupbtn {
    background-color: #f44336;
}

a {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

h1 {
    font-size: 320%;
    font-family: serif;
    color: blanchedalmond;
    position: absolute;
    top: 95px;
    right: 85px;
}

p {
    position: absolute;
    top: 210px;
    font-family: serif;
    font-size: 170%;
    color: antiquewhite;
    font-weight: bold;
}

img {
    height: 105px;
    width: 105px;
    position: absolute;
    top: 315px;
    right: 125px;
    -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}