body {
    background-image: url(/www/images/court.png);
}

h1 {
    font-family: serif;
    color: antiquewhite;
    font-size: 250%;
}

.jersey {
    height: 65px;
    width: 65px;
    float: right;
    margin: 15px;
}

.plus {
    height: 65px;
    width: 65px;
    float: right;
    margin: 15px;
    border-radius: 50%;
}

button {
    background-color: #521414;
    border-style: solid;
    border-radius: 8px;
    position: absolute;
    width: 70px;
    height: 45px;
    cursor: pointer;
}

#back {
    left: 40px;
    bottom: 120px;
}

#logout {
    left: 40px;
    bottom: 60px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}